// main-nav

.main-nav{
    max-width: 1200px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 140px;
        height: 40px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        li{
           

            a{
                text-decoration: none;
                color: gray;
                padding: 1rem 1.5rem;
                border: 2px solid #FFFFFF;
                -moz-border-radius: 30px;   
                -webkit-border-radius: 30px;
                border-radius: 30px;
                transition: all .5s;
                font-weight: bold;
                &:hover{
                    background-color: #F1F1FD;
                    color: #333;
                  
                    
                }
                &:active{
                    background-color: gray;
                    color: #333;
                }
            }

        }
    }
    &__buttons{
        display: flex;
        &__dark{
                background-color: #202142;
                color: #FFFFFF;
                transition: all 1s;
                &:hover{
                    background-color: #FFFFFF;
                    color: #202142;
                }
               
            }
            &__light{
                background-color: #FFFFFF;
                border: 2px solid #FFFFFF;
                color: #202142;  
            }

        li{

            a{
                padding: 1rem 1.5rem;
                text-decoration: none;
                padding: 1rem 1.5rem;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
            
              
            }

            
        }
    }
}



#header{
    &__home{
        background: $light-color;
        color: fff;
    }
    .header-content{
        text-align: center;
        padding-top: 30%;
    }
    h1{

    }
}
