.section3{
margin-top: 3rem;
margin-bottom: 3rem;
border-color: none  ;
display: flex;
justify-content: space-between;

&__img1{
  width: 38px;
  height: 38px;
}
&__img2{
  width: 26px;
  height: 26px;
  margin-left: .5rem;
}
&__text{
  margin-right: 7rem;
}

}
.card-body{
  display: flex;
  justify-content: space-between;
  margin-bottom: .1rem;
  line-height: 2.5rem;
}
