/*Normalize.css*/
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css';
.container {
  max-width: 1200px;
  padding: 0 1.4rem;
  margin: auto; }

.btn-dark, .btn-light {
  display: inline-block;
  padding: .7rem 2rem;
  transition: all .5s;
  border: none;
  cursor: pointer; }

.btn-dark {
  background-color: #333;
  color: #FFFFFF; }

.btn-light {
  background-color: #FFFFFF;
  color: #333; }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #333; }

body {
  background-color: #fff;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #333; }

li {
  list-style: none; }

img {
  width: 100%; }

.main-nav {
  max-width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .main-nav__logo {
    width: 140px;
    height: 40px; }
  .main-nav__items {
    display: flex;
    justify-content: space-between; }
    .main-nav__items li a {
      text-decoration: none;
      color: gray;
      padding: 1rem 1.5rem;
      border: 2px solid #FFFFFF;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      transition: all .5s;
      font-weight: bold; }
      .main-nav__items li a:hover {
        background-color: #F1F1FD;
        color: #333; }
      .main-nav__items li a:active {
        background-color: gray;
        color: #333; }
  .main-nav__buttons {
    display: flex; }
    .main-nav__buttons__dark {
      background-color: #202142;
      color: #FFFFFF;
      transition: all 1s; }
      .main-nav__buttons__dark:hover {
        background-color: #FFFFFF;
        color: #202142; }
    .main-nav__buttons__light {
      background-color: #FFFFFF;
      border: 2px solid #FFFFFF;
      color: #202142; }
    .main-nav__buttons li a {
      padding: 1rem 1.5rem;
      text-decoration: none;
      padding: 1rem 1.5rem;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; }

#header__home {
  background: #FFFFFF;
  height: 100vh;
  color: fff; }

#header .header-content {
  text-align: center;
  padding-top: 30%; }
