/*Normalize.css*/
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css';
.container {
  max-width: 1200px;
  padding: 0 1.4rem;
  margin: auto; }

.btn-dark, .btn-light {
  display: inline-block;
  padding: .7rem 2rem;
  transition: all .5s;
  border: none;
  cursor: pointer; }

.btn-dark {
  background-color: #333;
  color: #FFFFFF; }

.btn-light {
  background-color: #FFFFFF;
  color: #333; }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #333; }

body {
  background-color: #fff;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #333; }

li {
  list-style: none; }

img {
  width: 100%; }

.main-nav {
  max-width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .main-nav__logo {
    width: 140px;
    height: 40px; }
  .main-nav__items {
    display: flex;
    justify-content: space-between; }
    .main-nav__items li a {
      text-decoration: none;
      color: gray;
      padding: 1rem 1.5rem;
      border: 2px solid #FFFFFF;
      border-radius: 30px;
      transition: all .5s;
      font-weight: bold; }
      .main-nav__items li a:hover {
        background-color: #F1F1FD;
        color: #333; }
      .main-nav__items li a:active {
        background-color: gray;
        color: #333; }
  .main-nav__buttons {
    display: flex; }
    .main-nav__buttons__dark {
      background-color: #202142;
      color: #FFFFFF;
      transition: all 1s; }
      .main-nav__buttons__dark:hover {
        background-color: #FFFFFF;
        color: #202142; }
    .main-nav__buttons__light {
      background-color: #FFFFFF;
      border: 2px solid #FFFFFF;
      color: #202142; }
    .main-nav__buttons li a {
      padding: 1rem 1.5rem;
      text-decoration: none;
      padding: 1rem 1.5rem;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; }

#header__home {
  background: #FFFFFF;
  color: fff; }

#header .header-content {
  text-align: center;
  padding-top: 30%; }

.section1__logo {
  width: 34px;
  height: 54px; }

.section1 {
  display: flex;
  flex-direction: column; }
  .section1__text {
    display: flex;
    justify-content: left;
    margin-left: 1rem;
    color: #ff69b4;
    font-weight: bold; }
  .section1__div {
    display: flex;
    flex-direction: column;
    margin: auto; }
  .section1__divtext {
    text-align: center;
    margin-left: auto;
    width: 28rem;
    margin-right: auto; }
  .section1__h1 {
    display: inline-block; }
  .section1__logo {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 61px; }
  .section1__ul {
    display: flex;
    flex-direction: row; }
  .section1__li {
    margin-left: auto;
    width: 61px;
    height: 61px; }

.form-control {
  background-color: white;
  background-image: url("public/img/chevron-down.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px; }

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1; }
  .dropdown-menu:hover {
    display: block; }

.dropdown-item {
  display: block; }

.input-group {
  padding: 20px; }

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem; }
  .section2__buttons1 {
    display: flex;
    margin-left: 1rem;
    background-color: #FAFAFF;
    border-radius: 50px;
    padding: .2rem;
    border: 1px solid #EFEFFF; }
  .section2__button1 {
    width: 100px;
    color: gray;
    background-color: #FAFAFF;
    border: 1px solid #FAFAFF;
    padding: .8rem; }
    .section2__button1:hover {
      border-radius: 50px;
      color: black;
      background-color: #FFFFFF;
      border: 1px solid #EFEFFF;
      padding-right: 1rem;
      padding-left: 1rem; }
  .section2__buttons2 {
    display: flex;
    margin-right: 30rem;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid #FFFFFF; }
  .section2__button2 {
    color: gray;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF; }
    .section2__button2:hover {
      border-radius: 30px;
      color: black;
      background-color: #FFFFFF;
      border: 1px solid #EFEFFF;
      padding-left: .7rem;
      padding-right: .7rem; }
